* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    color: #000000;
    margin: 0px;
    font-size: 100%;
    font-family: "Segoe UI", Arial, sans-serif !important;
  }

  .clonew3-bar .clonew3-bar-item:hover {
    color: #757575 !important;
  }

  a.clonew3schoolslink {
    padding: 0 !important;
    display: inline !important;
  }

  a.clonew3schoolslink:hover,
  a.clonew3schoolslink:active {
    text-decoration: underline !important;
    background-color: transparent !important;
  }

  #dragbar {
    position: absolute;
    cursor: col-resize;
    z-index: 3;
    padding: 5px;
  }

  #shield {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 4;
  }

  #container {
    background-color: #E7E9EB;
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 40px;
    bottom: 0;

    height: auto;
  }

  #textareacontainer,
  #iframecontainer {
    float: left;
    height: 100%;
    width: 50%;
  }

  #textarea,
  #iframe {
    height: 100%;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 1px;
  }

  #textarea {
    padding-left: 10px;
    padding-right: 5px;
  }

  #iframe {
    padding-left: 5px;
    padding-right: 10px;
  }

  #textareawrapper {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  #iframewrapper {
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  #textareaCode {
    background-color: #ffffff;
    font-family: consolas, "courier new", monospace;
    font-size: 15px;
    height: 100%;
    width: 100%;
    padding: 8px;
    resize: none;
    border: none;
    line-height: normal;
  }

  .CodeMirror.cm-s-default {
    line-height: normal;
    padding: 4px;
    height: 100%;
    width: 100%;
  }

  #iframeResult,
  #iframeSource {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
  }

  #stackV {
    background-color: #999999;
  }

  #stackV:hover {
    background-color: #BBBBBB !important;
  }

  #stackV.horizontal {
    background-color: transparent;
  }

  #stackV.horizontal:hover {
    background-color: #BBBBBB !important;
  }

  #stackH.horizontal {
    background-color: #999999;
  }

  #stackH.horizontal:hover {
    background-color: #999999 !important;
  }

  #textareacontainer.horizontal,
  #iframecontainer.horizontal {
    height: 50%;
    float: none;
    width: 100%;
  }

  #textarea.horizontal {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #iframe.horizontal {
    height: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  #container.horizontal {
    min-height: 200px;
    margin-left: 0;
  }

  .clonew3-dropdown-content {
    width: 350px
  }

  @media only screen and (max-device-width: 768px) {
    #iframewrapper {
      overflow: auto;
    }

    #container {
      min-width: 310px;
    }

    .stack {
      display: none;
    }

    #tryhome {
      display: block;
    }
  }

  body.darktheme {
    background-color: rgb(40, 44, 52);
  }

  body.darktheme #tryitLeaderboard {
    background-color: rgb(40, 44, 52);
  }

  body.darktheme .trytopnav {
    background-color: #616161;
    color: #dddddd;
  }

  body.darktheme #container {
    background-color: #616161;
  }

  body.darktheme .trytopnav a {
    color: #dddddd;
  }

  body.darktheme ::-webkit-scrollbar {
    width: 12px;
    height: 3px;
  }

  body.darktheme ::-webkit-scrollbar-track-piece {
    background-color: #000;
  }

  body.darktheme ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #616161;
  }

  body.darktheme ::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
  }


  .trytopnav {
    height: 40px;
    overflow: hidden;
    min-width: 380px;
    position: absolute;
    width: 100%;
    background-color: #f1f1f1
  }

  .trytopnav a {
    color: #999999;
    text-decoration: none
  }

  .clonew3-bar .clonew3-button {
    white-space: normal
  }

  .clonew3-bar .clonew3-bar-item {
    padding: 7px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
  }

  .clonew3-button:hover {
    color: #000 !important;
    background-color: #ccc !important
  }

  .clonew3-bar .clonew3-button {
    white-space: normal
  }

  .clonew3-green {
    background: #4CAF50 !important;
    color: #fff !important;
    cursor: pointer
  }

  .clonew3-white,
  .clonew3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important
  }

  #backtotutcontainer {
    position: absolute;
    bottom: 0;
    background-color: #F1F1F1;
    width: 100%;
    height: 50px;
    padding-left: 10px;
    color: #555;
  }

  .clonew3-btn:hover.clonew3-blue,
  .clonew3-btn:active.clonew3-blue {
    background-color: #0d8bf2 !important;
    color: #fff !important;
    box-shadow: none;
  }

  body.darktheme #backtotutcontainer {
    background-color: #616161;
    color: #ddd;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }

  /* The nModal (background) */
  .nmodal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }

  /* Modal Content */
  .modal-content {
    position: fixed;
    top: 0;
    left: 20%;
    background-color: #fefefe;
    width: 60%;
    margin-top: 8%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
  }

  .modal-header {
    padding: 0 16px;
    color: #000
  }

  .modal-header h2 {
    font-weight: 400
  }

  .modal-body {
    padding: 0 16px
  }

  .modal-footer {
    padding: 0 16px;
    color: white
  }

  /* nModal Content */
  .nmodal-content {
    position: fixed;
    top: 0;
    left: 20%;
    background-color: #fefefe;
    width: 60%;
    margin-top: 8%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }

  .nclose {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px
  }

  .nclose:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
  }

  .nmodal-header {
    padding: 0 16px;
    color: #000
  }

  .nmodal-header h2 {
    font-weight: 400
  }

  .nmodal-body {
    padding: 0 16px
  }

  .nmodal-footer {
    padding: 0 16px;
    color: white
  }

  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {
      top: -500px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  @keyframes slideIn {
    from {
      top: -500px;
      opacity: 0
    }

    to {
      top: 0;
      opacity: 1
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0
    }

    to {
      opacity: 1
    }
  }

  input#editor-filename {
    float: left;
    margin-bottom: 25px;
    margin-right: 20px;
    font-size: 15px;
    width: 48%;
    padding: 9px;
    color: #495057;
    background-color: #fff;
    border-color: rgb(0 123 255 / 25%);
    outline: 0
  }

  input#editor-filename:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(0 123 255 / 25%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%)
  }

  #down {
    padding: 10px 16px;
    font-size: 17px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    color: #fff !important;
    background-color: #4CAF50 !important;
    outline: none
  }

  #down2 {
    padding: 10px 16px;
    font-size: 17px;
    margin-right: 15px;
    border: none;
    cursor: pointer;
    color: #fff !important;
    background-color: #f44336 !important;
    outline: none
  }

  #down:hover,
  #down2:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
  }